<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DarwinFeed.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DarwinFeed.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="LDBServiceSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="LDBServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://lite.realtime.nationalrail.co.uk/OpenLDBWS/ldb9.asmx"
                binding="basicHttpBinding" bindingConfiguration="LDBServiceSoap"
                contract="Darwin.LDBServiceSoap" name="LDBServiceSoap" />
        </client>
    </system.serviceModel>
    <userSettings>
        <DarwinFeed.Properties.Settings>
            <setting name="UpdateFequency" serializeAs="String">
                <value>15000</value>
            </setting>
            <setting name="StationCode" serializeAs="String">
                <value>UNI</value>
            </setting>
            <setting name="Offset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Window" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="WarningTime" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="LateTime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ImpossibleTime" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="UpdateFailedMessage" serializeAs="String">
                <value>Could not update board - check internet connection</value>
            </setting>
        </DarwinFeed.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <DarwinFeed.Properties.Settings>
            <setting name="OnTimeMagicString" serializeAs="String">
                <value>On time</value>
            </setting>
            <setting name="CancelledString" serializeAs="String">
                <value>Cancelled</value>
            </setting>
        </DarwinFeed.Properties.Settings>
    </applicationSettings>
</configuration>